
<h1>タスクid:<%= @tasks.id %>のshow</h1>


<p>すてーたす：<%= @tasks.status %></p><br>
<p>こんてんつ：<%= @tasks.content %></p><br>

<%= link_to '一覧に戻る', tasks_path %><br>
<%= link_to 'このtaskを編集する', edit_task_path(@tasks) %><br>
<%= link_to 'このtaskを削除する', @tasks, method: :delete, data: { confirm: '本当に削除してよろしいですか？' } %>

